*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: .28em;
    background: #f0efed;
}