*{
    margin: 0;
    padding:0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
span,img,button {
    cursor: pointer;
}
body{
    display:flex;
    width: 100%;
}
#left-content{
    width: 30%;
    height:974px;
}
header{
    width: 100%;
    height: 96px;
    text-align: center;
    line-height: 96px;
    position:relative;
}
#low-content{
    width: 100%;
    height: 878px;
    position: relative;

}
.left1{
    position:absolute;
    left:0;
}
.right1{
    float:right;
}
.left1 span{
    margin:0 10px 0 10px;
     

}
.left1 img{
    margin:0 20px 0 20px;
    -webkit-transform: translateY(10px);
}
.right1 img{
    margin-right:30px;
    -webkit-transform: translateY(10px);

}
#div1{
    width: 80%;
    height: 110px;
    position: absolute;
    bottom:50%;
    right:50%;
    -webkit-transform: translate(50%,50%);
    
}
#div2{
    width: 80%;
    height: 39px;
    margin-top:24px;
}
#div2 img{
    -webkit-transform: translateY(8px);
}
#div2 span{
    color:green;
}
#div2 button{
    width: 60px;
    height: 31px;
    background: #fff;
    border-radius:20px;
    border:1px solid green;
    margin-left:20px;
    color: green;
}
#right-content{
    width: 70%;
    overflow: scroll;
}
.a1{
    width: 100%;
}
#div3{
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding:10px;
}
#div3 img{
    box-sizing: border-box;
    width: 33%;
    height: 100%;
    padding:10px;
}
#div4{
    width: 100%;
    height: 247px;
    display:flex;
}
#div5{
    width: 50%;
    flex-grow: 1;
    position: relative;
}
#div7{
    width: 50%;
    flex-grow:1;
}
#div6{
    width: 54%;
    position: absolute;
    right:0;
}
#div6 h2{
    margin-top:50px;
}
#div6 p{
    margin:25px 0 ;
    color:#707070;
}
#div6 p a{
    color:#deba61;
}
#div6 button{
    width: 60px;
    height: 31px;
    background: #fff;
    border-radius:20px;
    border:1px solid green;
    margin-left:20px;
    color:green;
}
.a2{
    width: 50%;
    margin-top:100px;
    margin-left:50px;
}