*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
}
body{
    background:url(img/bg.jpg)  no-repeat;
    background-size: 100% 100%;
}
#img1{
    position: absolute;
    width: 331px;
    height: 100px;
    top:50%;
    left:50%;
    margin-left:-167px;
    margin-top:-50px;
    background-image: url('img/startGame.png');
    z-index:999;
}
#img2{
    position: absolute;
    top:50%;
    left:50%;
    margin-left:-210px;
    margin-top:-203px;
    display: none;
}
#img3{
    position: absolute;
    left:50px;
    top:50px;
    display:none;
}
#img4{
    position: absolute;
    left:50px;
    top:50px;
    display: none;
}
#close{
    position: absolute;
    right:0;
    top:0;
}
.num1{
    color:#fff;
    width: 50px;
    height: 50px;
    display: block;
    margin:0 auto;
}
#content{
    width: 750px;
    height: 300px;
    /* border:1px solid black; */
    position: absolute;
    top:294px;
    left:585px;
}
#endNum{
    position: absolute;
    top:150px;
    left:120px;
    font-size:50px;
}
.food{
    background-image: url('img/apple.png');
    background-size:100% 100%;
} 
.head{
    background-image:url('img/head.png');
    background-size:100% 100%;
}
.body{
    background-image:url('img/body.jpg');
    background-size:100% 100%;
}